
<div class="section1">
    <h1>Who are we?</h1>
    <p>We are a small tech start-up co-founded on the basis of providing services to the less technology advanced
        communities. We do a variety of digital media services from websites to online systems which aim to enhance
        or better the business domain regardless of which sector. We advocate for technology without borders meaning
        we hope that every organization by the year 2030 will be equipped with at least one computer system and
        operating an online system that serves their business objectives.</p>
</div>
<div class="section2">
    <div class="image">
        <img src="/assets/images/home/aboutusimg1.png" alt="poster">
    </div>
    <div class="content">
        <h1>Your file was here...</h1>
        <p>Seeing is believing but it is a shame that we have self driving cars, and wireless charging phones
            <b>BUT</b>
            when you go to the doctor your details are in a file on a cabinet somewhere!!! <b>LITERALLY</b></p>
        <h1>Many practises many files...</h1>
        <p>We believe in growth and that majority of our good doctors and physicians have commitments to patients
            located all over town, city even country, <b>UNFORTUNATELY</b> so are the files, if a patient moves the
            file
            moves with the patient soon...</p>
    </div>
</div>
<div class="content-2">
    <h1>Ours is to solve through simplicity</h1>
    <p>As you may have noticed we do not like the file/cabinet system, so much so no illustration has been featured
        on our website we believe in the technological advancement of personalization in organizations regardless of
        where the discipline is and we are looking to make this software custom to every professional who has a
        patient relationship and needs to track the progress and wellness of their patient whether it is a Doctor,
        Physician, Psychiatrist etc. </p>
</div>
<div class="numbers">
    <div class="numbers1-1">
        <div class="number1">
            <h2>1</h2>
            <p>We pride ourselves in customer satisfaction</p>
        </div>
        <div class="number2">
            <h2>2</h2>
            <p>We have been in the industry for more than 8 years combined with tertiary grooming.</p>
        </div>
        <div class="number3">
            <h2>3</h2>
            <p>Our passion and vision sets us apart from any start-up</p>
        </div>
    </div>
</div>
<div class="section-3">
    <h1>What we offer</h1>
    <p>We are looking to eradicate the paper process that organizations are knee deep in right now and want to guide
        them to the 4th industrial revolution. </p>
    <div class="content-section-3-1">

        <img src="../../../assets/images/home/woman-on-poster.png" alt="poster">

        <div class="paragraph">
            <p>Store patient records on a secure online system.</p>
        </div>
    </div>
    <div class="content-section-3-1">

        <img src="../../../assets/images/home/wallet.png" alt="poster-wallet">

        <div class="paragraph">
            <p>Terminating the culture of a paper heavy process, only involved when printing out prescriptions &
                sick notes. Digitization on that front also is inevitable.</p>
        </div>
    </div>
    <div class="content-section-3-1">

        <img src="../../../assets/images/home/man-on-mobile.png" alt="man-on-mobile-poster">

        <div class="paragraph">
            <p>Retrieve patient information from any location or device we mean it when we say personalization at
                its <b>BEST</b></p>
        </div>
    </div>
    <h3>Help us, help you thrive effortlessly</h3>

    <button>Contact Us</button>
</div>