<div class="panel col-1-of-3">
  <div class="col-1-of-2">
    <img src="assets/images/dashboard/patient-icon.svg" alt="patient icon">
    <h1 class="panel-header">
      active patients
    </h1>
  </div>
  <div class="panel-search">
    <input id="search" type="text" placeholder="Search..." name="search" class="search">
    <button class="btn-search">
      <img src="assets/images/dashboard/search.svg" alt="search icon">
    </button>
  </div>
  <a routerLink="/dashboard/register-patient" class="button">register a patient</a>
</div>
<app-card [model]="model"></app-card>
