.main {
  .section-main {
    padding: 3%;

    .table-heading {
      display: grid;
      grid-template-columns: 40% 40% auto;
      padding-left: 2rem;
      padding-right: 3rem;
      @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
        background: #29b6f6;
        color: #fff;
        padding: 3rem;
      }

      h1 {
        text-transform: uppercase;
        animation: moveInLeft 1s ease-out 0.5s;
        animation-fill-mode: backwards;
        width: 100%;
        
      }

      .dashboard-forms {
        padding: 0;

        .input-field {
          border: none;
          background: rgba(120, 144, 156, 0.151);
          border-radius: 5rem;
          padding: 0.7rem 2rem;
          margin: 0 1rem;
          width: 70%;
          color: #78909c;
          font-weight: 600;
        }
      }

      .filters {
        text-align: right;

        label {
          font-weight: 700;
          font-size: 0.8rem;
        }

        select {
          background: none;
          border: none;
          font-weight: 700;
          color: #29b6f6;
          font-size: 0.8rem;
        }
      }
    }    
  } 
 
}
