<section class="main">
  <app-bread-crumb [items]="items"></app-bread-crumb>
  <section class="section-main">
    <div class="container">
      <div class="col-1-of-2">
        <div class="cta-patient">
          <h1>
            <span class="heading">
              {{Name}}
            </span>
          </h1>
          <img src="assets/images/dashboard/user-icon-details.svg" alt="user icon" class="user-icon">
          <div class="cta-buttons">
            <div class="col-1-of-2">
              <button class="btn success"><i class="fas fa-pen"></i> edit patient</button>
              <button class="btn warning"><i class="fa fa-trash"></i> archive patient</button>
            </div>
          </div>
        </div>
        <div class="data-patient">
          <div class="col-1-of-2">
            <h1>
              <span class="description">
                Full Name
              </span>
            </h1>
            <h1>
              <span class="value">
                {{Name}}
              </span>
            </h1>
          </div>
          <div class="col-1-of-2">
            <h1>
              <span class="description">
                ID Number
              </span>
            </h1>
            <h1>
              <span class="value">
                {{patientData.IdNumber}}
              </span>
            </h1>
          </div>
          <div class="col-1-of-2">
            <h1>
              <span class="description">
                Phone Number
              </span>
            </h1>
            <h1>
              <span class="value">
                {{patientData.Cellphone}}
              </span>
            </h1>
          </div>
          <div class="col-1-of-2">
            <h1>
              <span class="description">
                Email
              </span>
            </h1>
            <h1>
              <span class="value">
                {{patientData.Email}}
              </span>
            </h1>
          </div>
          <div class="col-1-of-2">
            <h1>
              <span class="description">
                Address
              </span>
            </h1>
            <h1>
              <span class="value">
                {{patientData.AddressLine1}}
                {{patientData.City}}
                {{patientData.PostCode}}
              </span>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-list">
      <div class="card 1 primary">
        <div class="header col-1-of-2">
          <h1>
            <span class="heading">
              medical aid
            </span>
          </h1>
          <img src="../../../../assets/images/dashboard/medical-aid.svg" alt="medical aid" class="medical-icon">
        </div>
        <div class="body" *ngIf="medical; else  nomedical">
          <div class="col-1-of-2">
            <div>
              <h1>
                <span class="header">
                  Member on card:
                </span>
                <span class="text">
                  {{patientData.PrimaryMember}}
                </span>
              </h1>
            </div>
            <div>
              <h1>
                <span class="header">
                  Institute:
                </span>
                <span class="text">
                  {{patientData.MedicalaidName}}
                </span>
              </h1>
            </div>
          </div>
          <div class="col-1-of-2">
            <div>
              <h1>
                <span class="header">
                  Member #:
                </span>
                <span class="text">
                  {{patientData.PrimaryMemberId}}
                </span>
              </h1>
            </div>
            <div>
              <h1>
                <span class="header">
                  Plan type:
                </span>
                <span class="text">
                  {{patientData.MedicalaidType }}
                </span>
              </h1>
            </div>
          </div>
        </div>
        <ng-template #nomedical>
          <div class="direction">
            <h1>
              <span class="info">
                No medical aid
              </span>
            </h1>
            <button class="btn blue"><i class="fas fa-plus"></i> medical aid</button>
          </div>

        </ng-template>

      </div>
      <div class="card 1 dark-blue">
        <div class="header col-1-of-2">
          <h1>
            <span class="heading">
              emergency contact
            </span>
          </h1>
          <img src="assets/images/dashboard/contact.svg" alt="contact icon" class="medical-icon">
        </div>
        <div class="body">
          <div class="col-1-of-1" *ngIf="patientData.ContactName; else nocontactdetails">

            <div>
              <h1 class="col-1-of-2">
                <span class="header">
                  Name:
                </span>
                <span class="text">
                  {{patientData?.ContactName}}
                </span>
              </h1>
            </div>
            <div>
              <h1 class="col-1-of-2">
                <span class="header">
                  Relationship:
                </span>
                <span class="text">
                  {{patientData?.ContactRelationship}}
                </span>
              </h1>
            </div>
            <div>
              <h1 class="col-1-of-2">
                <span class="header">
                  Contact #:
                </span>
                <span class="text">
                  {{patientData?.ContactCell}}
                </span>
              </h1>
            </div>

          </div>
          <ng-template #nocontactdetails>
            <div class="direction">
              <h1>
                <span class="info">
                  No emegency contact detials
                </span>
              </h1>
              <button class="btn blue"><i class="fas fa-plus"></i> contact</button>
            </div>

          </ng-template>
        </div>
      </div>

    </div>
  </section>
  <section class="notes">
    <app-notes [Name]="Name"></app-notes>
  </section>
</section>
