<div class="card-container col-1-of-4" *ngIf="model.items">
  <div class="card" *ngFor="let item of model.items">
      <div class="card-icon">
      </div>
      <div class="card-circle">
          <h1 class="initials">
            {{(item.firstname + ' ' +item.surname) | initials}}
          </h1>
      </div>
      <div class="card-heading">
        {{item.firstname}} {{item.surname}}
      </div>
      <div class="card-details">
          <h1 class="text">
             {{item.cellphone}}
          </h1>
          <h1 class="text email">
              {{item.email}}
          </h1>
          <h1 class="text simple" *ngIf="item.MedicalaidName else noMedicalAid;">
            {{item.MedicalaidName}}
          </h1>
          <ng-template  #noMedicalAid>
            <h1 class="text simple no-medical">
              no medical
            </h1>
          </ng-template>
      </div>
      <div class="card-footer">
        <h1 class="text">
            {{item.createdate | date:'mediumDate'}}
        </h1>
      </div>
  </div>
</div>
