<div class="container">
  <div class="panel col-1-of-2">
    <div class="col-1-of-2">
      <img src="assets/images/dashboard/patient-icon.svg" alt="patient icon">
      <h1 class="panel-header">
        add a patient
      </h1>
    </div>
  </div>
  <div class="capture col-1-of-2">
    <div class="data-capture" *ngIf="true">
      <app-patient-personal-information></app-patient-personal-information>
    </div>
    <div class="vector-image">
      <img src="assets/images/dashboard/patient-information-image.svg" alt="patient information">
    </div>
  </div>
</div>
