
@media only screen and (max-width: 600px) {
  .accounts {
    background: url('../../../assets/images/home/account-mobile-bg.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -20px;
    background-size: contain;
  }
}

@media only screen and (width: 1024px) {
  .accounts {
    background: url('../../../assets/images/home/account-ipad-bg.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -20px;
    background-size: contain;
  }
}

@media only screen and (width: 768px) {
  .accounts {
    background: url('../../../assets/images/home/account-ipad-bg.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -20px;
    background-size: contain;
  }
}
