.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .card {
    margin: 30px auto;
    width: 41rem;
    height: 300px;
    border-radius: 40px;
    padding: 2rem;

    .header{
        padding-bottom: 2rem;
        
        &.col-1-of-2 {
           
            @media only screen and (max-width: 600px) {
                grid-template-columns: repeat(2, auto);
            }
        }
    }

    .body {
        h1 {
            .header {
                display: block;
                padding-bottom: 0.5rem;
                font-size: 1.255rem;
                font-weight: 500;
            }

            .text {
                font-size: 1rem;
                font-weight: 400;
            }

            
        }

        .col-1-of-2 {
            grid-template-columns: repeat(2, 50%);
        }

    
    }

    &.primary {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#429ffc+0,2a3ff9+93 */
      background: #429ffc;
      /* Old browsers */
      background: -moz-linear-gradient(left, #429ffc 0%, #2a3ff9 93%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #429ffc 0%, #2a3ff9 93%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #429ffc 0%, #2a3ff9 93%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#429ffc', endColorstr='#2a3ff9', GradientType=1);
      /* IE6-9 */
      img {
        height: 3rem;
      }
    }

    &.dark-blue {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29b6f6+12,3c484e+98 */
      background: #29b6f6;
      /* Old browsers */
      background: -moz-linear-gradient(left, #29b6f6 12%, #3c484e 98%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #29b6f6 12%, #3c484e 98%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #29b6f6 12%, #3c484e 98%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29b6f6', endColorstr='#3c484e', GradientType=1);
      /* IE6-9 */

      .body {
          img {
              height: 5rem;
          }
      }

    }

    transition: 0.4s;

    &:hover {
      cursor: pointer;
    }

    h1{
        color: $white-color;
        .heading {
            font-size: 1.25rem;
            font-weight: 500;

        }
    }



  }
}
