.dashboard {
  background: $cloud-white-color;
  border-radius: 15px;
  height: 99vh;

  .col-1-of-2 {
    grid-template-columns: 20% auto;
  }

  .container {
    background: $white-color;
    position: absolute;
    top: 5rem;
    left: 15rem;
    width: 85vw;
    height: 90vh;
    border-radius: 15px;
    padding: 15px;

  }

  ul {
    padding-top: 10rem;
    padding-left: 14%;
    list-style: none;
    width: 60%;

    li {
      a {
        margin-top: 1rem;
        color: $cloud-white-color;
        font-size: 25px;
        font-weight: 300;
        text-transform: capitalize;
      }
    }
  }

  .nav-bar {
    width: 15%;
    height: 100%;
    background: $nav-bg-blue;
    border-radius: 15px 0px 0px 15px;

    li {
      margin: 1rem 0;

      a {
        font-size: 18px;
      }
    }
  }

  .nav-bar-mobile {
    display: none;
  }

  .user {
    width: 15vw;
    position: absolute;
    top: 20px;
    right: 130px;

    &.col-1-of-2 {
      grid-gap: 0;
      grid-template-columns: 60% auto;
    }

    .title {
      font-size: 20px;
      font-weight: 500;
      color: gray;
    }

    .sign-out {
      text-align: right;
      color: $grey-color;
    }
  }

  .quick-stats {
    padding: 15px;
    width: 90rem;
    margin: 0 auto;

    &.col-1-of-2 {
      grid-template-columns: 50% 50%;
      grid-gap: 1rem;
    }
  }
}



// responsive design

// mobile IphoneX
@media only screen and (max-width: 600px) {
  .dashboard {
    height: 100%;
    border-radius: 0;

    .nav-bar {
      display: none;
    }

    .nav-bar-mobile {
      display: block;
      position: fixed;
      left: 2rem;
      bottom: 5rem;
      z-index: 9999;


      ul {
        padding-top: 0;
        padding-left: 0;
        list-style: none;
        width: 90vw;
        height: 7vh;
        padding: 1rem 0;
        background: $white-color;
        margin: 0 auto;

        -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.21);
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.21);
        border-radius: 15px;

        li {
          float: left;
          margin: 0 2rem;

          a {
            margin-top: 0;
            color: $cloud-white-color;
            font-size: 25px;
            font-weight: 300;
            text-transform: capitalize;
          }
        }
      }
    }

    .container {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding: 0;
    }

    .quick-stats {
      padding: 0px;
      width: 100%;
      margin: 0 auto;

      &.col-1-of-2 {
        grid-template-columns: 100%;
      }
    }

    .user {
      width: 100%;
      position: relative;
      padding: 0 15px;
      top: 0;
      left: 0;
      padding: 5rem;
      padding-right: 2rem;

      &.col-1-of-2 {
        text-align: right;
        grid-template-columns: 100%;
        grid-gap: 1rem;
      }

      .title,
      .sign-out {
        color: $white-color;
      }

      .sign-out {
        font-size: 14px;
      }
    }
  }
}

// Iphone 5/SE
@media only screen and (max-width: 320px) {
  .dashboard {
    .nav-bar-mobile {
      ul {
        height: 10vh;
      }
    }
  }
}

@media only screen and (max-width: 414px) {}

// mobile Ipad pro
@media only screen and (width: 1024px) {}

// mobile Ipad
@media only screen and (width: 768px) {}
