.stats {
  padding: 11px 120px;
  &.col-1-of-4 {
    grid-gap: 0;
  }
}

// responsive design

// mobile IphoneX
@media only screen and (max-width: 600px) {
  .stats {
    padding: 0rem;
  }

}

@media only screen and (max-width: 414px) {}

// mobile Ipad pro
@media only screen and (width: 1024px) {}

// mobile Ipad
@media only screen and (width: 768px) {}
