.table-container {
  padding: 2rem 0;
  padding-top: 0rem;

  .table-header {
    font-weight: 300;
    text-transform: capitalize;
    padding: 1rem 0;
    background: $grey-light-color;
    padding-left: 1rem;
  }

  .icon {
    height: 40px;
  }

  table.table {
    width: 100%;

    th,
    td {
      text-align: left;
      padding: 0.5rem 0rem;
      text-transform: capitalize;
    }

    th {}

    td {
      font-size: 12px;
      font-weight: 500;
      color: gray;
    }

    tr {
      border-bottom: 1px dashed #DDD;
      cursor: pointer;
    }

    td.edit-buttons {
      text-align: right;
    }
    td.date {
      font-weight: 700;
    }
  }

  button {
    border-radius: 3px;
    border: none;
    margin: 0 0.25em;
    transition: all 0.3s;
  }

  button:hover {
    box-shadow: 0 0 4px rgba(3, 3, 3, 0.8);
    opacity: 0.9;
  }

  button.edit {
    background: #6F9;
  }

  button.delete {
    background: #F69;
  }

  .table-footer {
    padding: 1rem;
    text-align: right;

    a.cta {
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}
