.main-container {
  background-color: #fff;
  background-image: url(/assets/images/home/backgrimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 1rem 7rem;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.21);

  @media only screen and (max-width: 600px) {
    background-image: url(/assets/images/home/mobile-background-main.png);
    background-size: 100%;
    margin-top: 0%;
    background-repeat: no-repeat;
    background-position: top left;
    padding: 1rem;
    border-radius: 0;
    height: 100vh;
  }
  .main-headings {
    margin-left: 10rem;
    width: 50%;
    margin-top: 13rem;
    color: #FDFEFE;

    @media only screen and (max-width: 600px) {
      display: none;
    }

    .heading1 h2 {
      font-weight: bolder;
      margin: 0%;
      width: 100%;
      font-size: 2rem;
      letter-spacing: .2rem;
      padding-top: 3.5rem;
    }

    .heading2 {
      margin-top: 1.5rem;
      h1 {
        width: 100%;
        color: #FDFEFE;
        margin: 0%;
        font-weight: bolder;
        font-size: 4rem;
        padding: 0%;
        .re {
          color: #9C27B0;
          border-bottom: solid 10px #9c27b0;
          padding: 0%;
        }
      }
    }
  }

  /* Contact Form */
  .form-container {
    border-radius: 15px;
    background-color: #FDFEFE;
    padding: 20px;
    width: 28%;
    margin-top: 4rem;
    margin-left: 8rem;

    @media only screen and (max-width: 600px) {
      -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.21);
      -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.21);
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.21);
      width: 100%;
      margin: 0%;
      margin-top: 18rem;
    }
    form h1 {
      color: #29B6F6;
      font-size: 1.4rem;
      padding: 1rem;
      padding-left: 0%;
      @media only screen and (max-width: 600px) {
        color: black;
        font-size: 1.7rem;
        margin-bottom: 1rem;
      }
    }

    input[type=text] {
      width: 85%;
      padding: .5rem;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-top: 3px;
      margin-bottom: 10px;
      margin-right: 0%;
      background: #F6F9FC;
      @media only screen and (max-width: 600px) {
        width: 100%;
        border: 1px solid #78909C;
        background: #FFFFFF;
        padding: 1rem;
      }
    }

    label {
      display: grid;
      font-size: 15px;
      font-weight: 500;
      padding: .2rem;
      @media only screen and (max-width: 600px) {
        color: #566573;
      }
    }
    .form-btns {
      display: grid;
      grid-template-columns: 50% auto;
      padding-bottom: 2rem;
      margin-top: 1.5rem;
      padding-right: 3rem;
      @media only screen and (max-width: 600px) {
        display: block;
        text-align: center;
        padding: 0%;
        margin: 0%;

        .btn1 {
          color: #78909C;
          font-weight: 100;
          padding-left: 2rem;
          margin-top: 0%;
          @media only screen and (max-width: 600px) {
            padding:.5rem;
          }
        }
      }
      input[type=submit]{
        background-color: #017BFF;
        color: #F6F9FC;
        padding: 15px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 90%;
        font-size: .9rem;
        @media only screen and (max-width: 600px){
          margin-top: 2.5rem;
          margin-bottom: 5rem;
          font-size: 1.5rem;
          background: #29B6F6;
        }
      }
      input[type=submit]:hover {
        background-color: rgba(24, 51, 226, 0.836);
      }
    }
    .options {
      display: grid;
      grid-template-columns: 50% auto;
      margin-bottom: 2rem;
      @media only screen and (max-width: 600px) {
        display: none;
      }
      .query-btn {
        color: #78909C;
        font-weight: 500;
      }
      .contact-us-btn {
        color: #017BFF;
      }
    }
  }

  .socials {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 60%;
    margin-left: 25rem;
    margin: auto;
    padding-left: 12rem;
    @media only screen and (max-width: 600px){
      width: 70%;
      padding: 0%;
      padding-bottom:2rem;
      margin-top: 2rem;
    }
  }

  .socials img {
    width: 85%;
    @media only screen and (max-width: 600px){
      width: 30%;
      padding: 0rem;
      margin: auto;
    }
  }
  .socials h6{
    @media only screen and (max-width: 600px){
      color: #29B6F6;
      margin: auto;
      margin-top: .8rem;
    }
  }
  .twitter,
  .insta,
  .facebook {
    display: grid;
    justify-content: center;
  }
}
