@media only screen and (max-width: 600px) {
  .dashboard {
    background-image: url(../../assets/images/dashboard/mobile-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
