@import '../../assets/sass/variables';

.desktop-ul {
  display: flex;
  float: right;
  padding-top: 2rem;
  margin-right: 3rem;
  margin-right: 10rem;

  li {
    list-style-type: none;
    color: #FDFEFE;
    margin: 2rem;
    margin-top: 0%;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    a{
      color: #FDFEFE;
    }

    }
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }


.ham-icon {
  display: none;

  @media only screen and (max-width: 600px) {
    display: inline-block;
    cursor: pointer;
    float: right;
    padding: 2rem;
    .change .bar1 {
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}

.mobile-nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #29B6F6;
  background-image: url('../../assets/images/home/nav-mobile-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  animation: moveInRight 1s ease-out .5s;
  animation-fill-mode: backwards;
  ul {
    list-style: none;
    margin-top: 10rem * 2;
    margin-left: 5rem;
    li {
      margin: 2rem;
      a {
        cursor: pointer;
        color:$cloud-white-color;
        font-weight: 200;
        font-size: 30px;
      }
    }
  }
}

/* footer */
footer {
  width: 50%;
  border-top: solid 1.5px #29B6F6;
  margin-top: 5rem;
  text-align: center;
  margin: auto;
  padding-bottom: 5rem;

  @media only screen and (max-width: 600px) {
    width: 80%;
    border-top: solid 2px #29B6F6;
  }
}

footer h6 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;

  @media only screen and (max-width: 600px) {
    color: #78909C;
  }

}

.cc {
  color: #29B6F6;
  font-weight: 700;
}
