<div class="main-container">
  <div class="tabs">
    <ul class="desktop-ul">
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/about-us" routerLinkActive="active"> About Us</a>

      </li>
      <li>
        <a routerLink="/sign-in" routerLinkActive="active"> Sign in</a>
      </li>
    </ul>
  </div>

  <div class="ham-icon" (click)="toggleNav()">
    <img src="../../assets/images/home/burger-menu.svg" alt="close menu">
  </div>

  <div class="mobile-nav" *ngIf="showMobileNavigation">
    <div class="ham-icon" (click)="toggleNav()">
      <img src="assets/images/home/close-menu.svg" alt="close menu">
    </div>
    <ul>
      <li>
        <a routerLink="/" (click)="toggleNav()" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/about-us" (click)="toggleNav()" routerLinkActive="active"> About Us</a>
      </li>
      <!-- <li>How it works</li>  -->
      <li>
        <a routerLink="/sign-in" (click)="toggleNav()" routerLinkActive="active"> Sign in</a>
      </li>
    </ul>
  </div>

  <div class="parent-home">
    <router-outlet></router-outlet>
  </div>


</div>
<!-- <footer>
  <h6>Powered By <span class="cc">Ndu Systems Pty Ltd.</span></h6>
</footer> -->
