

<div class="main-container">
    <div class="tabs">
        <ul>
            <li>
                    <a routerLink="/" routerLinkActive="active">Home</a>

            </li>
            <li>
                <a routerLink="/about-us" routerLinkActive="active">   About Us</a>

            </li>
            <li>
                    <a routerLink="/sign-in" routerLinkActive="active"> Sign in</a>

               </li>
        </ul>
    </div>
    <div class="ham-icon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="parent-home">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <h6>Powered By <span class="cc">Ndu Systems Pty Ltd.</span></h6>
    </footer>
  </div>
