//Colors

//old colors still on other components
$primary-color : #03A9F4;
$ocean-blue-color : #26C6DA;
$gold-color : #FFD54F;
$green-color : #00A66E;
$green-light-color :#00FED9;


//dokio design colors
$grey-color : #78909C;
$grey-light-color:#79919d36;
$grey-dark-color : #566573;
$blue-color : #017BFF;
$black-color : #1B2631;
$army-green : #338584;
$white-color: #fff;
$cloud-white-color: #F6F9FC;
$white-transparent-color: #fbfcfcbd;
$pink-color: #C65587;
$zulu-yellow-color: #F8C471;
$purple-color: #9C27B0;
$nav-bg-blue:#29B6F6;
//Grid values
$grid-width: 114rem;
$gutter-vertical : 6rem;
$gutter-horizontal : 6rem;


// dashboard variables
$navWidth: 18%;
